In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('2014BostonMarathon.csv')

In [14]:
pd.set_option('max_columns', 22)
df.describe(include = 'all')

,10k,name,division,25k,gender,age,official,bib,genderdiv,ctz,35k,overall,pace,state,30k,5k,half,20k,country,city,40k
count,31984,31984,31984.000000,31984,31984,31984.000000,31984.000000,31984,31984.000000,1244,31984,31984.000000,31984.000000,29408,31984,31984,31984,31984,31984,31983,31984
unique,2766,31915,NaN,6570,2,NaN,NaN,31984,NaN,84,9516,NaN,NaN,68,8090,1491,5651,5375,78,5934,10546
top,-,"Baynes, Chris",NaN,-,M,NaN,NaN,5367,NaN,GBR,-,NaN,NaN,MA,-,23.93,-,-,USA,Boston,-
freq,50,2,NaN,216,17617,NaN,NaN,1,NaN,171,34,NaN,NaN,7587,40,81,72,51,27233,1034,39
mean,NaN,NaN,1932.563032,NaN,NaN,42.407079,242.997314,NaN,8051.044741,NaN,NaN,15939.587825,9.275658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,1715.228694,NaN,NaN,11.316496,52.300431,NaN,4754.005626,NaN,NaN,9232.978224,1.992486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,18.000000,80.600000,NaN,1.000000,NaN,NaN,1.000000,3.080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,610.000000,NaN,NaN,33.000000,205.527500,NaN,3972.000000,NaN,NaN,7943.750000,7.850000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,1425.000000,NaN,NaN,42.000000,232.370000,NaN,7970.000000,NaN,NaN,15939.500000,8.870000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,2611.000000,NaN,NaN,50.000000,273.235000,NaN,11968.000000,NaN,NaN,23935.250000,10.430000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,6979.000000,NaN,NaN,81.000000,538.880000,NaN,17575.000000,NaN,NaN,31931.000000,20.570000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# # Looking at null-values:

# df.isna().sum()

10k              0
name             0
division         0
25k              0
gender           0
age              0
official         0
bib              0
genderdiv        0
ctz          30740
35k              0
overall          0
pace             0
state         2576
30k              0
5k               0
half             0
20k              0
country          0
city             1
40k              0
dtype: int64

In [41]:
# # Dropping 'Citizenship' since we already have a very similar column with Country.

# df.drop('ctz', axis = 1, inplace = True)

# # Since 'City' only had one null value, we will drop that row as well since it will be relatively inconsequential,
# # and since it will allow us to nip any null-value issues in the bud at the start.

# df.dropna(axis = 0, how = 'any', subset = ['city'], inplace = True)

In [42]:
# df.isna().sum()

10k             0
name            0
division        0
25k             0
gender          0
age             0
official        0
bib             0
genderdiv       0
35k             0
overall         0
pace            0
state        2575
30k             0
5k              0
half            0
20k             0
country         0
city            0
40k             0
dtype: int64